#Bnadpis{
    text-transform: uppercase;
    text-align: center;
    padding: 6em 0;
}

#Bh1{
    font-weight: bold;
}

.post-article {
    border-bottom: 1px solid #eaeaea;
    padding: 3rem 0;
    margin-bottom: 10px;
}

